body {
  background: #0f0f0f;
  color: white;
  font-family: Arial;
}

.app {
  max-width: 500px;
  margin: 60px auto;
  text-align: center;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
}

button {
  padding: 12px;
  width: 100%;
  background: purple;
  border: none;
  color: white;
  cursor: pointer;
}

img {
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
}
